@model _03_PortalMVC.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-md-8 p-t-2 text-md-center">

        <img src="@Url.Content("~/Content/images/ikon_white_wob50.png")" />
    </div>
    <section class="col-md-8 p-t-15">
        <h2 class="text-md-center">Bienvenue sur l'espace GererMaBoite !</h2>
        <div class="row">
            <div class="mainLoginContainer col-md-24">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", @id = "login" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="p-y-2">
                        <label for="email">VOTRE IDENTIFIANT COURRIEL</label>
                        @Html.TextBoxFor(m => m.UserName, new { @type = "email", @class = "form-control", @placeholder = "Identifiant" })
                    </div>
                    <div class="p-y-2">
                        <label for="password">MOT DE PASSE</label>
                        @Html.PasswordFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "Mot de Passe" })
                    </div>
                   
                    <div class="row">
                        <span class="col-xs-11">
                            @Html.ActionLink("Mot de passe oublié", "RecoverPassword", "Home", null, new { @class = "btn btn-link" })
                        </span>
                        <div class="col-xs-13">
                            <button type="submit" class="btn btn-signup btn-block ">Se connecter</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>